@font-face {
  font-family: "ABC Ginto Nord";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/ABC-Ginto-Nord-normal-800.woff2") format("woff2");
}

/* Fallback for ABC Ginto Nord */
@font-face {
  font-family: "ABC Ginto Nord Fallback";
  src: local("Arial Black"), local("Arial-Black"), local("Arial");
  ascent-override: 90%;
  descent-override: 25%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gg-sans-normal-400.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gg-sans-italic-400.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/gg-sans-normal-500.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/gg-sans-italic-500.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/gg-sans-normal-600.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/gg-sans-italic-600.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gg-sans-normal-700.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gg-sans-italic-700.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/gg-sans-normal-800.woff2") format("woff2");
}
@font-face {
  font-family: "gg sans";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/gg-sans-italic-800.woff2") format("woff2");
}

/* Fallback for gg sans */
@font-face {
  font-family: "gg sans Fallback";
  src: local("Arial");
  ascent-override: 90%;
  descent-override: 25%;
  line-gap-override: 0%;
  size-adjust: 100%;
}

@font-face {
  font-family: "gg mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/gg-mono-normal-400.woff2") format("woff2");
}
@font-face {
  font-family: "gg mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/gg-mono-normal-700.woff2") format("woff2");
}
